<form [formGroup]="testTemplateForm">
  <div class= "border-start rounded p-3" style="background-color: darkseagreen;">
    <div class="mb-3">
      <label for="subject">Predmet</label>
      <select class="form-control w-auto" id="subject" formControlName="subject">
        <option *ngFor="let subject of taughtSubjects" [ngValue]="subject">{{subject}}</option>
      </select>
    </div>
    <div class="form-check form-switch">
      <label class="form-check-label" for="test-no-correct-answer">Zadna spravna odpoved</label>
      <input class="form-check-input" type="checkbox" id="test-no-correct-answer">
    </div>
    <div class="form-check form-switch">
      <label class="form-check-label">Vice spravnych odpovedi</label>
      <input class="form-check-input" type="checkbox" id="test-multiple-correct-answers">
    </div>
    <div class="form-check form-switch">
      <label class="form-check-label">Otevrene otazky</label>
      <input class="form-check-input" type="checkbox" id="test-opened-questions">
    </div>
  </div>
  <div *ngFor="let subgroup of subgroupsInUse">
    <app-question-subgroup (dirtyGroup)="addSubgroup()" (cleanGroup)="removeSubgroup(subgroup.id)" [subjectTags]="subjectTags"></app-question-subgroup>
  </div>
</form>
