.question-container {
  border: darkseagreen 1px solid;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  color: darkseagreen;
  display: flex;
  align-items: center;
}

.question-container:hover {
  color: white;
  background-color: darkseagreen;
  transition: all 0.3s;
}

.question-container.selected {
  color: white;
  background-color: darkseagreen;
}

.title {
  width: 25%;
}

.tags {
  width: 50%;
}

.dots {
  display: flex;
  width: 25%;
  justify-content: end;
}

.tag {
  background-color: darkgreen;
  color: white;
  padding: 3px 6px;
  margin: 0 1px;
  border-radius: 10px;
}

.dot {
  display: flex;
  background-color: darkgreen;
  color: white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  margin: 0 3px
}
