.app {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.sidebar {
  width: 250px;
  min-height: 100vh;
  color: white;;
  background-color: darkseagreen;
}

.content {
  padding: 25px;
  width: 100%;
  background-color: white;
}
