<nav>
  <div class="sidebar-header">
    <h3><em class="bi bi-justify-left"></em> Educador</h3>
  </div>
  <ul class="list-unstyled components">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['/']"><em class="bi bi-house-fill"></em> Domu</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/vault']"><em class="bi bi-boxes"></em> Otazky</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/engine']"><em class="bi bi-card-text"></em> Testy</a>
    </li>
  </ul>
</nav>
