<form [formGroup]="form" class="ms-4">
  <div class="mb-3">
    <label for="subject">Predmet</label>
    <select class="form-control" id="subject" formControlName="subject">
      <option *ngFor="let subject of taughtSubjects" [ngValue]="subject">{{subject}}</option>
    </select>
  </div>
  <app-tags></app-tags>
  <div class="mb-3">
    <label for="difficulty">Obtiznost</label>
    <input class="form-control" id="difficulty" type="number" formControlName="difficulty"/>
  </div>
  <div class="mb-3">
    <label for="title">Oznaceni</label>
    <input class="form-control" id="title" type="text" formControlName="title">
  </div>
  <div class="mb-3">
    <label for="assignment">Zadani</label>
    <textarea class="form-control" id="assignment" rows="4" formControlName="assignment"></textarea>
  </div>
  <div formArrayName="answers">
    <div *ngFor="let answer of getControls(form, 'answers'); let i = index" [formGroupName]="i" class="row mt-1">
      <div class="col-1 w-auto">
        <input class="form-check-input" [id]="'answer-isCorrect-' + i" formControlName="isCorrect" type="checkbox">
      </div>
      <div class="col answer-text ps-0">
        <input class="form-control" [id]="'answer-text-' + i" formControlName="text" type="text">
      </div>
      <div class="col-1">
        <button class="btn btn-danger" type="button" (click)="deleteAnswer(i)"><em class="bi bi-x"></em></button>
      </div>
    </div>
    <app-answer (addAnswer)="addAnswer($event)"></app-answer>
  </div>
  <div class="btn-group mt-2">
    <button class="btn btn-primary" type="submit">Ulozit</button>
    <button class="btn btn-danger" type="button" (click)="closeForm()">Zavrit</button>
  </div>
</form>
